// Heading Color
$heading-color: #232323;

// Text Color
$text-color: #858585;

// Default Background
$bg-default: #ef1b48;

// Gray Background
$bg-gray: #f0f4f8;

// Primary Color
$pri-color: #232323;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #eaeaea;

// Hover Color
$hover-color: #ef1b48;

// Footer Color
$foo-color: #000000;

// Secondary Color
$sec-color: #404040;